# Python bytecode files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

.env

# FastAPI logs
*.log

# IDE/editor files
.vscode/
.idea/
*.swp

# Dependency directories
node_modules/

# FastAPI configuration files
instance/

# System files
.DS_Store
Thumbs.db